<h1 class="m-n font-thin h3 text-black block inline">Barber Services</h1>
<div class="wrapper-md" ng-controller="ServiceController" ng-init="loadServices()">
    <div class="panel panel-default">
        <table st-table="rowCollectionBasic"  class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Service Name</th>
                <th>Duration</th>
                <th>Cost</th>
                <th>Discount</th>
                <th>Discount Type</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="service in services">
                <td>{{service.service_name}}</td>
                <td>{{getFormattedServiceTime(service.duration_in_minutes)}}</td>
                <td>{{service.cost}}</td>
                <td>{{service.discount}}</td>
                <td>{{service.discount_type.type}}</td>
                <td><a class="h5 text-primary m-l-sm" ng-click="open('lg',$index)">
                    Edit</a>
                    <a class="h5 text-danger m-l-sm"
                       ng-click="openDeleteService('sm',service.id)">
                        Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <script type="text/ng-template" id="deleteServiceModal.html">
        <div ng-include="'templates/modals/delete-service.html'"></div>
    </script>
</div>