<div class="panel-body">
    <div class="row">
        <div class="col-sm-3">
            <span class="crimson text-xlg">Delete Barber</span>
            <label class="m-t">Delete the barber will delete barber and all other information</label>
        </div>
        <div class="col-sm-9">
            <span class="h4">Deleted barber cannot be restored?</span><br>
            <button class="btn  btn-danger btn-rounded m-t" ng-click="removeBarber('sm')">Delete barber</button>
        </div>
    </div>
</div>