<!-- list -->
<ul class="nav" ng-controller="NavController">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>Navigation</span>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.manage-barber">
            <i class="fa fa-building-o"></i>
            <span>Manage Barber</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.add-barber">
            <i class="fa fa-building-o"></i>
            <span>Add Barber</span>
        </a>
    </li>
</ul>
<!-- / list -->
