<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="BarberController" ng-init="loadBarberDetails()">
    <div class="col" ng-hide="isLoading">
        <div style="background-size:cover">
            <div class="tab-container">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <h1 class="m-n font-thin h3 text-black block inline">Barber Details</h1>
                        <a class="h5 text-primary m-l-sm" ng-click="setEditMode(true)" ng-hide="inEditMode"> Edit</a>
                        <div class="form-horizontal m-t" ng-hide="inEditMode">
                            <div class="form-group">
                                <label class="col-sm-2 control-label font-bold">Shop Logo</label>
                                <div class="col-sm-6">
                                    <img ng-src="{{barber.logo}}" class="thumb-lg img-circle center-crop">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label font-bold">Name</label>
                                <div class="col-sm-3">
                                    <div class="control-label-form ">{{barber.first_name}}{{barber.last_name}}</div>
                                </div>
                            </div>
                            <div class="form-group" ng-if="getBarberAddress(barber) != null">
                                <label class="col-sm-2 control-label font-bold">Address</label>
                                <div class="col-sm-3">
                                    <div class="control-label-form ">
                                        {{getBarberAddress(barber)}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label font-bold">Phone</label>
                                <div class="col-sm-3">
                                    <div class="control-label-form ">{{barber.phone_number}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label font-bold">Email</label>
                                <div class="col-sm-3">
                                    <div class="control-label-form ">{{barber.email}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label font-bold">Shop Name</label>
                                <div class="col-sm-3">
                                    <div class="control-label-form ">{{barber.shop_name}}</div>
                                </div>
                            </div>
                        </div>
                        <form class="form-horizontal m-t" ng-show="inEditMode" novalidate>
                            <div class="form-group">
                                <label class="col-sm-2 control-label font-bold">Shop Logo</label>
                                <div class="col-sm-6">
                                    <img ng-src="{{barber.logo}}" class="thumb-lg img-circle center-crop">
                                    <input type="file" nv-file-select="" class="m-t" file-model="myFile"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label font-bold">First Name</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control input-sm"
                                           value="{{barber.first_name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label font-bold">Last Name</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control input-sm"
                                           value="{{barber.last_name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label font-bold">Address</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control input-sm m-b"
                                           value="{{barber.address_line_1}}">
                                    <input type="text" class="form-control input-sm m-b"
                                           value="{{barber.address_line_2}}">
                                    <input type="text" class="form-control input-sm"
                                           value="{{barber.address_line_3}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label font-bold">Phone</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control input-sm" value="{{barber.phone_number}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label font-bold">Email</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control input-sm" value="{{barber.email}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label font-bold">Shop Name</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control input-sm" value="{{barber.shop_name}}">
                                </div>
                            </div>

                            <!--Submit button-->
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button type="submit" class="btn btn-default" ng-click="setEditMode(false)">Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary" ng-click="updateBarber()">Update
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>