<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="DashboardController"  ng-init="getDashboardBookings()">
    <div class="bg-light lter b-b wrapper-md" ng-init="getChartInfo()">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">Dashboard</h1>
                <small class="text-muted">Welcome</small>
            </div>
        </div>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <table st-table="rowCollectionBasic" class="table table-bordered table-striped fixed_headers">
                <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Order Date</th>
                    <th>Customer Name</th>
                    <th>Barber Name</th>
                    <th>Slot Timing</th>
                    <th>Order State</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="booking in bookings">
                    <td>{{booking.order_number}}</td>
                    <td>{{booking.order_date}}</td>
                    <td>{{booking.user.first_name}} {{booking.user.last_name}}</td>
                    <td>{{booking.barber.first_name}} {{booking.barber.last_name}}</td>
                    <td>{{booking.slot.slot_timings}}</td>
                    <td>{{booking.order_state.state}}</td>
                    <td>{{booking.total}}</td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

<canvas draw-chart ></canvas>
</div>