<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="CustomerManageController" ng-init="getAllCustomers()">
    <div class="bg-light lter b-b wrapper-md">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h1 class="m-n font-thin h3 text-black">Manage Customer</h1>
                <small class="text-muted">List of customers available in hairtweet</small>
            </div>
        </div>
    </div>
    <div class="wrapper-md">
        <div infinite-scroll="next()" infinite-scroll-disabled="isBusy" infinite-scroll-distance='1'>
            <div class="list-group list-group-lg list-group-sp col-md-4" ng-repeat="customer in allCustomers">
                <a  class="list-group-item clearfix">
                        <div class="mx-w-xl m-b-xs ">
                            <span class="h3 text-primary">{{customer.first_name}} {{customer.last_name}}</span>

                        </div>
                        <div class="mx-w m-b-xs"><i class="glyphicon glyphicon-earphone m-r-xs"></i>
                            {{customer.phone_number}}
                        </div>
                        <div class="mx-w-lg m-b-xs"><i class="icon-envelope-open m-r-xs"></i>
                            {{customer.email}}
                        </div>
                </a>
            </div>
        </div>
    </div>
</div>