
<div class="wrapper-lg" ng-controller="MapCtrl" >
    <h1 class="m-n font-thin h3 text-black block inline">Update Area</h1>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <form class="form-horizontal m-t" novalidate>
        <div class="form-group">
            <label class="col-sm-2 control-label font-bold">Area Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control input-sm"
                       value="{{location.area}}"
                       ng-model="location.area">
            </div>
        </div>
        <div class="wrapper-md">
            <div class="panel b-a">
                <div class="panel-heading">Choose area from map</div>
                <div id="map_canvas" style="min-height:400px" ui-map="myMap"
                     ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }"
                     ui-options="mapOptions">

                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <button type="submit" class="btn btn-default" ng-click="close()">Cancel</button>
                <button type="submit" class="btn btn-primary" ng-click="updateServiceArea()">Update Area</button>
            </div>
        </div>
    </form>
</div>
